{{#extends 'base'}}
{{#block 'content'}}
<h1>Deleting {{movieToDelete.title}}</h1>
<form method="POST">
    <div class="alert alert-danger">
        Are you sure you want to delete
        {{movieToDelete.title}} from the system?

    </div>
    <input type="submit" class="btn btn-danger" value="Confirm"/>
    <a href="/movies" class="btn btn-primary">Cancel</a></a>

</form>
{{/block}}
{{/extends}}
