{{#extends 'base'}}
{{#block 'content'}}
<table class="table">
    <thead>
        <tr>
            <th>Movie Title</th>
            <th>Plot</th>
        </tr>
    </thead>
    {{#each all_movies}}
    <tr>
        <td>{{this.title}}</td>
        <td>{{this.plot}}</td>
    </tr>
    {{/each}}


</table>

{{/block}}
{{/extends}}